@model IEnumerable<WebEOC.Models.Log>

@{
    ViewData["Title"] = "Index";
}
<br/>
<h2>Log List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btm-sm">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success btm-sm">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-outline-danger btm-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
